.topsection{background:gray;}
.lifesylepass{background:darkgrey;}
body{background:grey;}
.camera{width:400px;}
.photo{width:500px;}
.tacos{width:500px;}

p{color:darkred}

.topsection{text-align:center;}

.lifesylepass{text-align:center;}
p{text-align:center;}
p{text-decoration:;}